@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
  @import url("https://use.typekit.net/udl4tnf.css");

@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";


@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-beige-dark: #F1E3D8;
  --color-black: #272727;
  --color-beige-light: #FEF5EE;
  --color-accent: #F47920;
  --color-brown: #2D2523;
  

  /*Typografi */
  --font-display: "ofelia-display", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

@layer base {

}

@layer components{

}

@layer utilities{
  
}