---
// Henter parametrene fra Astro.props
const { teksttype = "body", stylingclasses = "font-body text-[14px] lg:text-[18]" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  body: "font-body text-[12px] lg:text-[16]",
};
---

<p class:list={[sizeClasses[teksttype], stylingclasses]}><slot /></p>
